<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467546731223-2fq2v38nhtdhc5pp03dnfk51r6t78nm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467546731223-2fq2v38nhtdhc5pp03dnfk51r6t78nm7</string>
	<key>API_KEY</key>
	<string>AIzaSyA89nnCfcSjgPZ8npVD8SYYqQW3u1tKt-g</string>
	<key>GCM_SENDER_ID</key>
	<string>467546731223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.cis.CS-IA</string>
	<key>PROJECT_ID</key>
	<string>cs-ia-903a0</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-ia-903a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467546731223:ios:84d7c087e4916f26</string>
	<key>DATABASE_URL</key>
	<string>https://cs-ia-903a0.firebaseio.com</string>
</dict>
</plist>